<form id="form-subject" class="needs-validation" novalidate="">
    <div class="row g-3">
        <div class="col-12">
            <h3 id="form-headline"><!--template--></h3>
        </div>
        <div class="col-4">
            <label for="form-title" class="form-label">Title</label>
            <input type="text" class="form-control" id="form-title" required="">
        </div>
    </div>
    <div class="row g-3">
        <div class="col-4">
            <label for="form-title" class="form-label">Description</label>
            <input type="text" class="form-control" id="form-description" required="">
        </div>
    </div>
    <hr class="my-4">
    <div class="row g-3">
        <div class="col-1">
            <button id="form-button-submit" class="btn btn-primary" onclick="requestToEditSubject()">Edit</button>
        </div>
        <div class="col-1">
            <button class="btn btn-danger" onclick="pageSubjects()">Cancel</button>
        </div>
    </div>
</form>